.title {
    color:rgb(66, 66, 66);
    
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 500px;

    @media (max-width: 600px) {
        &{
            width: 300px;
        }
    }
}
